/* Added fonts */
@font-face {
    font-family: ExtraBold;
    src: url('Lexend-ExtraBold.ttf');
}

@font-face {
    font-family: Bold;
    src: url('Lexend-Bold.ttf');
}

@font-face {
    font-family: Medium;
    src: url('Lexend-Bold.ttf');
}


/* Set background color */
body {
    font-family: Medium;
    background: #F5F5FA;
    background-size: cover;
}

.header-clock {
    float: left;
    margin-left: 50px;
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    color: #2a1f62;
    cursor: pointer;
    display: flex;
    line-height: 1rem;
    padding: 20px;
    position: relative;
    text-align: left;
    transition: .2s;
    touch-action: manipulation;
    width: 360px;
    height: 40px;
}

.clocktime {
    font-family: Medium;
    font-size: 40px;
    text-align: center;
    color: #2a1f62;
}

.fridge-temperature-container {
    position: absolute;
    overflow: hidden;
    width: 280px;
    height: 280px;
    left: 520px;
    top: 140px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.temperature {
    position: absolute;
    top: -140px;
    right: 30px;
    background: -webkit-linear-gradient(#bcb5e2, #8378B9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 2px #Cccaea);
    font-size: 180px;
    font-family: ExtraBold;
}

.connected-text {
    color: #8378B9;
    font-family: ExtraBold;
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 15px;
}

.fridge-name {
    background: -webkit-linear-gradient(#EAE9F9, #F5F5FA);
    -webkit-background-clip: text;
    font-family: ExtraBold;
    font-size: 20px;
    position: absolute;
    top: 220px;
    left: 15px;
    color: #2a1f62;
}

.latestdatelogs-container {
    position: absolute;
    overflow: hidden;
    width: 195px;
    height: 80px;
    left: 520px;
    top: 30px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.informationHeader {
    float: left;
    position: absolute;
    overflow: visible;
    width: 300px;
    height: 80px;
    left: 750px;
    top: 30px;
    background: transparent;
}

.informationBox {
    position: absolute;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}
.informationBox2 {
    position: absolute;
    width: 450px;
    height: 80px;
    left: 320px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}
.informationBox3 {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 790px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.informationBoxTitle {
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: left;
    color: #2a1f62;
    font-size: 20px;
    font-family: Medium;
}

.informationBoxSubtitle {
    text-align: left;
    position: absolute;
    color: #8378B9;
    left: 8px;
    top: 30px;
    font-size: 35px;
    font-family: ExtraBold;
}

#information-header-picture {
    height: 60px;
    position: absolute;
    right: 20px;
    top: 10px;
    filter: drop-shadow(3px 3px 3px #Cccaea);
}


.alllogs-container {
    position: absolute;
    overflow: hidden;
    width: 380px;
    height: 700px;
    left: 80px;
    top: 140px;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.graphContainers {
    float: left;
    overflow: visible;
    margin-left: 50px;
    align-items: center;
    border: 0;
    border-radius: 8px;
    color: #2a1f62;
    display: flex;
    line-height: 1rem;
    position: absolute;
    text-align: left;
    transition: .2s;
    touch-action: manipulation;
    width: 980px;
    height: 300px;
    right: 80px;
    top: 140px;
    background: transparent;
}

.graphContent {
    float: left;
    margin-left: 50px;
    align-items: center;
    border: 0;
    border-radius: 8px;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
    color: #2a1f62;
    display: flex;
    line-height: 1rem;
    padding: 20px;
    position: absolute;
    text-align: left;
    transition: .2s;
    touch-action: manipulation;
    width: 350px;
    height: 260px;
    left: -70px;
}

.circleContainer {
    position: relative;
    color: #2a1f62;
    border-radius: 8px;
    width: 240px;
    display: flex;
    left: -3px;
    top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    background: conic-gradient(from 0deg,var(--clr) 0%,var(--clr) 0% var(--i),#f8f8ff var(--i), #f8f8ff 100%);
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
    border-radius: 50%;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle::before {
    content: '';
    position: absolute;
    inset: 10px;
    background: #f8f8ff;
    border-radius: 50%;
}

.circleContainer .circle h2 {
    position: relative;
    text-align: center;
}

.circleContainer h3 {
    position: relative;
    text-align: center;
    top: 10px;
}

.contentTitle {
    position: absolute;
    font-size: 20px;
    top: 5px;
    font-family: ExtraBold;
}


.graphHumidity {
    margin-left: 50px;
    align-items: center;
    border: 0;
    border-radius: 8px;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
    color: #2a1f62;
    display: flex;
    line-height: 1rem;
    padding: 20px;
    position: relative;
    transition: .2s;
    touch-action: manipulation;
    width: 530px;
    height: 260px;
    right: -360px;
}

header {
    position: absolute;
    overflow: visible;
    width: 1850px;
    height: 80px;
    right: 40px;
    top: 30px;
    background: transparent;
}

#header-button-picture {
    height: 60px;
    position: absolute;
    right: 20px;
    filter: drop-shadow(3px 3px 3px #Cccaea);
}

#outputLogFile {
    width: 100%;
    overflow: hidden;
    height: 600px;
    border: none;
    text-align: center;
    color: #2a1f62;
    font-family: Medium;
}

#outputLatestDateLogsFile {
    width: 100%;
    overflow: hidden;
    height: 60px;
    border: none;
    text-align: center;
    color: #2a1f62;
}


.subtext {
    text-align: center;
    color: #8378B9;
    font-size: 15px;
    font-family: Medium;
}

.title {
    text-align: center;
    padding: 0px 20px;
    color: #2a1f62;
    font-size: 20px;
    font-family: ExtraBold;
}






