/* Added fonts */
@font-face {
    font-family: ExtraBold;
    src: url('Lexend-ExtraBold.ttf');
}

@font-face {
    font-family: Bold;
    src: url('Lexend-Bold.ttf');
}

@font-face {
    font-family: Medium;
    src: url('Lexend-Bold.ttf');
}


/* Set background color */
body {
    font-family: Medium;
    background: #F5F5FA;
    background-size: cover;
}

.header-clock {
    float: left;
    margin-left: 50px;
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    color: #2a1f62;
    cursor: pointer;
    display: flex;
    line-height: 1rem;
    padding: 20px;
    position: relative;
    text-align: left;
    transition: .2s;
    touch-action: manipulation;
    width: 360px;
    height: 40px;
}

.clocktime {
    font-family: Medium;
    font-size: 40px;
    text-align: center;
    color: #2a1f62;
}

.fridge-temperature-container {
    position: absolute;
    overflow: hidden;
    width: 280px;
    height: 280px;
    left: 520px;
    top: 140px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.temperature {
    position: absolute;
    top: -140px;
    right: 30px;
    text-align: center;
    background: -webkit-linear-gradient(#E5E0FF, #8378B9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 5px #Cccaea);
    font-size: 180px;
    font-family: ExtraBold;
}

.connected-text {
    color: #8378B9;
    font-family: ExtraBold;
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 15px;
}

.fridge-name {
    background: -webkit-linear-gradient(#EAE9F9, #F5F5FA);
    -webkit-background-clip: text;
    font-family: ExtraBold;
    font-size: 20px;
    position: absolute;
    top: 220px;
    left: 15px;
    color: #2a1f62;
}

.latestdatelogs-container {
    position: absolute;
    overflow: hidden;
    width: 180px;
    height: 80px;
    left: 520px;
    top: 30px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}


.alllogs-container {
    position: absolute;
    overflow: hidden;
    width: 380px;
    height: 700px;
    left: 80px;
    top: 140px;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: Medium;
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.graphContainers {
    float: left;
    margin-left: 50px;
    align-items: center;
    background: #f8f8ff;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    color: #2a1f62;
    display: flex;
    line-height: 1rem;
    position: absolute;
    text-align: left;
    transition: .2s;
    touch-action: manipulation;
    width: 980px;
    height: 300px;
    right: 80px;
    top: 140px;
}

.graphEnergyPrices {
    float: left;
    margin-left: 50px;
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    color: #2a1f62;
    display: flex;
    line-height: 1rem;
    padding: 20px;
    position: relative;
    text-align: left;
    transition: .2s;
    touch-action: manipulation;
    width: 400px;
    height: 80px;
}

.graphContents {
    float: left;
    margin-left: 50px;
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    color: #2a1f62;
    display: flex;
    line-height: 1rem;
    padding: 20px;
    position: relative;
    text-align: left;
    transition: .2s;
    touch-action: manipulation;
    width: 400px;
    height: 80px;
}


header {
    position: absolute;
    overflow: visible;
    width: 1850px;
    height: 80px;
    right: 40px;
    top: 30px;
    background: transparent;
}

#header-button-picture {
    height: 60px;
    position: absolute;
    right: 20px;
    filter: drop-shadow(3px 3px 3px #Cccaea);
}

#outputLogFile {
    width: 100%;
    overflow: hidden;
    height: 600px;
    border: none;
    text-align: center;
    color: #2a1f62;
    font-family: Medium;
}

#outputLatestDateLogsFile {
    width: 100%;
    overflow: hidden;
    height: 60px;
    border: none;
    text-align: center;
    color: #2a1f62;
}


.subtext {
    text-align: center;
    color: #d2d1de;
    font-size: 15px;
    font-family: Medium;
}

.title {
    text-align: center;
    padding: 0px 10px;
    color: #2a1f62;
    font-size: 20px;
    font-family: ExtraBold;
}
